<!--<!DOCTYPE html>-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>第五组——七猫中文网</title>
    <link rel="stylesheet" href="static/css/index.css">
    <!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
</head>
<body>
    <div id="app">
        <!-- 头部 -->
        <div class="top">
            <div class="top1">
                <img src="static/img/sa1.png" alt="">
            </div>
            <div class="top2">
                <h2>第五组—数据可视化</h2>
            </div>
            <div class="top3">
                <img src="static/img/sa.png" alt="">
            </div>
        </div>
        <!-- 图像展示 -->
        <div class="middle">
            <div class="middle_left">
                <div class="left_to1">
                    <div id="container" style="height: 100%"></div>
                    <div id="id111"></div>
                    <!---->
                </div>
                <div class="left_to2">
                    <div id="container1" style="height: 100%"></div>
                </div>
            </div>
            <div class="middle_center">
                <div id="container2" style="height: 100%"></div>
            </div>
            <div class="middle_right">
                <div class="right_to1"></div>
                <div class="right_to2"></div>
            </div>
        </div>
        <div class="button">
            <div class="button1">
                <div id="container6" style="height: 100%"></div>
            </div>
        </div>
    </div>

    <!-- <script src="static/js/jquery.js"></script> -->
    <!-- <script src="static/js/index.js"></script> -->
    <!-- <script src="static/js/ss.js"></script> -->
   <!-- 引入Axios -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="static/js/ss.js"></script>
</body>
</html>